<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kancy.data.mapper.WallImageMapper">
    <sql id="tableName">
        wall_image
    </sql>

    <sql id="baseColumn">
        id,user_id,url,time,date,sort,create_time,update_time
    </sql>

</mapper>